QMainWindow QProgressBar {
        max-height: 8px;
        color: transparent;
}

QToolBar {
        margin: 0;
}

QSplitter[orientation="1"] {
        min-width: 3px;
        max-width: 3px;
}
QSplitter[orientation="2"] {
        min-height: 3px;
        max-height: 3px;
}

ads--CDockContainerWidget {
        background: palette(dark);
}

ads--CDockContainerWidget > QSplitter{
        padding: 3px;
}

ads--CDockContainerWidget ads--CDockSplitter::handle {
        background: palette(dark);
}

ads--CDockAreaWidget {
        background: palette(base);
        border-radius:  5px;
}

ads--CDockAreaWidget #tabsMenuButton::menu-indicator {
        image: none;
}

ads--CDockWidgetTab {
        background: #303030;
        border-style: solid;
        border-width: 2px 1px 0 0;
        border-color: palette(shadow);
        border-top-color: #505050;
        padding: 4px 5px;
}

ads--CDockWidgetTab[activeTab="true"] {
        border-top-color: palette(highlight);
        background: palette(window);
}

ads--CDockWidgetTab QLabel {
        color: palette(text);
}

ads--CDockWidgetTab[activeTab="true"] QLabel {
        color: palette(text);
}

ads--CDockWidget {
        background: palette(window);
        border-color: palette(shadow);
        border-style: solid;
        border-width: 0px 0 0 0;
        padding: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
}

ads--CFloatingDockContainer {
        border:  0;
}

ads--CTitleBarButton {
        padding: 0px 0px;
}

QScrollArea#dockWidgetScrollArea {
        background: transparent;
        border: none;
}

QMenuBar {
        background-color: #1d1d1d;
        color: palette(foreground);
}

QMainWindow > QToolBar {
        background-color: #1d1d1d;
        border: 0;
}

QStatusBar {
        background-color: #1d1d1d;
}

QTableView {
        border:  none;
}

#dockAreaCloseButton {
        qproperty-icon: url(:/ads/images/close-button-light.svg);
        qproperty-iconSize: 16px;
}

#detachGroupButton {
        qproperty-icon: url(:/ads/images/detach-button-light.svg);
        qproperty-iconSize: 16px;
}

#tabCloseButton {
        margin-top: 2px;
        border: none;
        padding: 0px -2px;
        qproperty-icon: url(:/ads/images/close-button-light.svg);
        qproperty-iconSize: 16px;
        qproperty-windowOpacity: 0.1;
}

#tabCloseButton:hover {
        background: rgba(0, 0, 0, 24);
}

#tabCloseButton:pressed {
        background: rgba(0, 0, 0, 48);
}

#tabsMenuButton {
        qproperty-icon: url(:/ads/images/tabs-menu-button-light.svg);
        qproperty-iconSize: 16px;
}

ads--CDockAreaTitleBar {
        background: transparent;
        padding-bottom: 0px;
}

ads--CFloatingWidgetTitleBar {
    qproperty-maximizeIcon: url(:/ads/images/maximize-button.svg);
    qproperty-normalIcon: url(:/ads/images/restore-button.svg);
}

#floatingTitleCloseButton, #floatingTitleMaximizeButton {
   qproperty-iconSize: 16px;
   border: none;
   margin: 6px 3px 6px 3px;
}

#floatingTitleCloseButton {
   qproperty-icon: url(:/ads/images/close-button.svg);
}

#floatingTitleCloseButton:hover, #floatingTitleMaximizeButton:hover {
    background: rgba(0, 0, 0, 24);
    border: none;
}


#floatingTitleCloseButton:pressed, #floatingTitleMaximizeButton:pressed {
    background: rgba(0, 0, 0, 48);
}

ads--CFloatingDockContainer[isActiveWindow="true"] #floatingTitleMaximizeButton {
    qproperty-iconSize: 16px;
}
